body {
  /* Ajout Nunito */
  font-family: 'Nunito', sans-serif; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
  color: #333;
  position: relative;
  z-index: 0;
}

body:before {
  /* Ajout pseudo-élément avt cont princ */
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 background: url("https://zupimages.net/up/24/22/knm9.png") center/cover no-repeat; 
  /* Transp img */
  opacity: 0.5;
  /* Img derrière cont princ */
  z-index: -1;
}

body:after {
  /* Ajout pseudo-élément ap cont princ */
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Dégradé linéaire de haut en bas avec transp */
  background: linear-gradient(to bottom, rgba(215, 160, 62, 0.5), rgba(69, 176, 210, 0.5));
  /* Dégradé entre img bkg et cont princ */
  z-index: -1;
}

.profile-container {
  max-width: 600px;
  margin: 60px auto 0;
  background-color: #fff;
  /* Bordures arrondies */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image-container {
  margin-bottom: 20px;
  text-align: center;
}

#preview-image {
  /* Taille img preview */
  width: 100px;
  height: 100px;
  /* Img ronde */
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.profile-details {
  margin-bottom: 20px;
}

.profile-details label {
  font-weight: bold;
  color: #555;
}

.profile-details input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

nav {
  background-color: #222D55;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(1, 1, 1, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav ul {
  /* Suppr puces et marges par défaut */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 1.2em;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #1abc9c;
}
/* Modifie la scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #222D55;
border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: #F2ECF8;
}
